* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --light-green: #1ed760;
  --gray: #b3b3b3;
}

html {
  background-color: #121212;
}

body {
  margin: 0;
  font-family: "Open Sans", Georgia, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  color: var(--gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

ol,
ul {
  list-style: none;
}

button {
  background-color: unset;
  outline: unset;
  border: unset;
}

.ellipsis-one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
}

* {
  scrollbar-color: hsla(0, 0%, 100%, 0.5) hsla(0, 0%, 100%, 0.3);
  scrollbar-width: 12px;
}

.action-icon:hover {
  fill: #fff;
}
